@import "colors.css";

* {
  font-family: "Iosevka", "JetBrains Nerd Font Mono", "Maple Mono NF",
               "Iosevka Nerd Font Mono", monospace;
  font-size: 14px;
  min-height: 0;
  border: none;
}

window#waybar {
  background-color: #282828;
  border-bottom: 1px solid #383633;
  min-height: 20px;
}

/* Workspaces */

#workspaces {
  background-color: @box;
  min-height: 20px;
}

#workspaces button {
  background-color: #1d2021;
  color: @accent;
  font-size: 14px;
  padding: 0 7px;
  margin: 0;
  border-radius: 0;
  min-height: 20px;
}

#workspaces button label {
  font-size: 14px;
}

#workspaces button.empty {
  color: @muted;
}

#workspaces button:hover {
  background: @box;
  color: @fg;
}

#workspaces button.active {
  background-color: #504945;
  color: @accent;
}

/* Window */

#window {
  color: @fg;
  font-size: 13px;
  margin: 0 8px;
}

/* System modules */

#pulseaudio,
#network,
#bluetooth,
#battery,
#power-profiles-daemon,
#custom-power {
  font-family: "Symbols Nerd Font Mono",
               "Iosevka Nerd Font Mono", monospace;
}

#pulseaudio,
#network,
#bluetooth,
#battery,
#power-profiles-daemon {
  color: @fg;
  font-size: 14px;
  padding: 0 5px;
  margin: 0;
  min-height: 20px;
}

/* Language */

#language {
  font-size: 14px;
  font-weight: 800;
  color: @fg;
  padding: 0 5px;
  margin: 0;
  min-height: 20px;
}

/* Clock */

#clock {
  font-weight: 700;
  color: @fg;
  font-size: 14px;
  padding: 0 6px;
  margin: 0;
  min-height: 20px;
}

/* Tray */

#tray {
  border-radius: 0;
  padding: 0 5px;
  margin: 0;
  min-height: 20px;
}

/* Power */

#custom-power {
  color: @critical;
  font-size: 16px;
  padding: 0 5px;
  margin: 0;
  min-height: 20px;
}

#custom-power:hover {
  background: @critical;
  color: @bg;
  border-radius: 50%;
}
